@use "../styles/index.scss" as *;



.object {
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
}

// .taskContainer {  
//   margin-top: 40px;
// }